.banner-content {
    color: $white;
    margin-top: 50px;

    h2 {

        font-size: 45px;
        text-transform: capitalize;
    }

    p {
        max-width: 419px;
        margin: 30px auto; //position center
    }

    a{
        margin: 0 10px;
    }
}