

.footer-area {
    background-color: #333;
    text-align: center;
    padding: 20px 0;

    p {
        color: white;
        font-size: 15px;
        text-transform: capitalize;
      }
  }
